<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academia Bellavista</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/business-casual.css" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" asp-append-version="true" />

    </environment>
</head>
<body>

    <header>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Luis Alberto Triana Sandoval</span>
            <span class="site-heading-lower">Academia de Fútbol Bellavista</span>
        </h1>

        <!--Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <div class="dropdown-menu nav-item px-lg-4">
                    <span class="dropdown-item-text">Dropdown item text</span>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" asp-controller="Home" asp-action="Index">
                                Actualidad
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" asp-controller="Home" asp-action="Resultados">Resultados</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" asp-controller="Home" asp-action="Uniformes">Uniformes</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" asp-controller="Home" asp-action="Jugadores">Jugadores</a>
                        </li>
                        <li class="nav-item px-lg-4 dropdown-menu">
                            <a class="nav-link text-uppercase text-expanded" asp-controller="Home" asp-action="Jugadores">Jugadores</a>
                        </li>
                        

                        @*<li class="nav-item px-lg-4">
             <a class="nav-link text-uppercase text-expanded" asp-controller="Empleados" asp-action="Horarios">Horarios</a>
        </li>*@
                        @*<li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" asp-controller="Traspasos" asp-action="Index">Traspasos</a>
        </li>*@
                        @*<li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" asp-controller="Empleados" asp-action="Index">Empleados</a>
        </li>*@
                        @*<li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" asp-controller="Mensualidades" asp-action="Index">Mensualidades</a>
            <a class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Login">Iniciar</a>
        </li>
        <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" asp-controller="Empleados" asp-action="Index">Empleados</a>
            <a class="btn btn-outline-dark btn-lg" asp-page="/Account/Register" asp-area="Identity">Registrarse</a>
        </li>*@

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <hr />
    <footer class="footer text-center py-5">
        <div class="container">
            <p class="m-0 small" style="color:white;">Copyright &copy; Academia Bellavista 2019 Todos los Derechos Reservados</p>
            <p class="m-0 small" style="color:white;">Tambien en colaboracion con: Gobernacion de Boyaca</p>
            <p class="m-0 small" style="color:white;">Colaboracion con: Vive Digital Tunja</p>

            <img height="40px" width="80px" src="~/images/ViveLab Boyacá logo oficial.png" />

            <img height="40px" width="80px" src="~/images/LogoGobernacion.png" />
        </div>
    </footer>

    <partial name="_CookieConsentPartial" />

    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
