@model myFirstAzureWebApp.Models.Horario

@{
    ViewData["Title"] = "Crear";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white;">Crear</h2>

<h4 style="color:white;">Horario</h4>
<hr />



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpleadoID" class="control-label letra">Empleado</label>
                <select asp-for="EmpleadoID" class="form-control" asp-items="ViewBag.EmpleadoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label letra"></label>
                <select asp-for="Hora" class="form-control" asp-items="ViewBag.Hora"/>
                <select>@Html.DropDownList("Hora", null, htmlAttributes: new { @class = "form-control" })</select>
                
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:34%;">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


<div style="margin-left:25%;">
    <a asp-action="Index" class="btn btn-outline-danger">Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
