@model myFirstAzureWebApp.Models.Horario

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HorarioID" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />  |
        <a asp-action="Index" class="btn btn-outline-dark">Atrás</a>
    </form>
</div>
