@model IEnumerable<myFirstAzureWebApp.Models.Horario>

    <p>
        <a asp-action="Create"><button class="btn btn-primary mt-5" style="width:25%; margin-left:35%;">Nuevo Horario</button></a>
    </p>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">   
                    <table class="table">
                        <thead>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Empleado.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hora)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.HorarioID" class="btn btn-outline-success icon-pencil"></a> |
                                    
                                    <a asp-action="Delete" asp-route-id="@item.HorarioID" class="btn btn-outline-danger icon-delete"></a>
                                </td>
                            </tr>
                            }
                            </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>

    


<!-- Script to highlight the active date in the hours list -->
<script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
</script>

</html>