@model myFirstAzureWebApp.Models.Traspaso

@{
    ViewData["Title"] = "Crear";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h2 style="color:white;">Creando Traspaso</h2>

<hr />
<div class="row" style="margin-left:30%;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EstudianteID" class="control-label letra">Seleccionar Estudiante</label>
                <select asp-for="EstudianteID" class="form-control" asp-items="ViewBag.EstudianteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EscuelaID" class="control-label letra">Seleccionar Escuela</label>
                <select asp-for="EscuelaID" class="form-control" asp-items="ViewBag.EscuelaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label letra"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label letra"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novedades" class="control-label letra"></label>
                <input asp-for="Novedades" class="form-control" />
                <span asp-validation-for="Novedades" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:34%;">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Atrás</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
