@model myFirstAzureWebApp.Models.Traspaso

@{
    ViewData["Title"] = "Editar";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Editando Traspaso</h2>
<hr />
<div class="row" style="margin-left:30%;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TraspasoID" />
            <div class="form-group">
                <label asp-for="EstudianteID" class="control-label letra">Estudiante</label>
                <select asp-for="EstudianteID" class="form-control" asp-items="ViewBag.EstudianteID"></select>
                <span asp-validation-for="EstudianteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EscuelaID" class="control-label letra">Escuela</label>
                <select asp-for="EscuelaID" class="form-control" asp-items="ViewBag.EscuelaID"></select>
                <span asp-validation-for="EscuelaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label letra"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label letra"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novedades" class="control-label letra"></label>
                <input asp-for="Novedades" class="form-control" />
                <span asp-validation-for="Novedades" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:34%;">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-primary">Atrás</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
