@model myFirstAzureWebApp.Models.HojaDeVida

@{
    ViewData["Title"] = "Crear";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white;">Creando una Hoja de Vida</h2>

<hr />
<div class="row" style="margin-left:30%;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpleadoID" class="control-label letra">Empleado</label>
                <select asp-for="EmpleadoID" class="form-control" asp-items="ViewBag.EmpleadoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label letra"></label>
                <input asp-for="Especialidad" class="form-control" />
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoExperiencia" class="control-label letra"></label>
                <input asp-for="TiempoExperiencia" class="form-control" />
                <span asp-validation-for="TiempoExperiencia" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:34%;">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Atrás</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
