@model myFirstAzureWebApp.Models.Escuela

@{
    ViewData["Title"] = "Editar";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Editando Escuela Vinculada</h2>

<hr />
<div class="row" style="margin-left:30%;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EscuelaID" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label letra"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label letra"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label letra"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="letra">
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group" style="margin-left:34%;">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-danger">Atrás</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
