@model myFirstAzureWebApp.Models.Encuentros

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Editando Evento</h2>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left:30%;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EncuentrosID" />
            <div class="form-group">
                <label asp-for="EscuelaID" class="control-label letra">Escuela</label>
                <select asp-for="EscuelaID" class="form-control" asp-items="ViewBag.EscuelaID"></select>
                <span asp-validation-for="EscuelaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label letra"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label letra"></label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label letra"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcadorLocal" class="control-label letra"></label>
                <input asp-for="MarcadorLocal" class="form-control" />
                <span asp-validation-for="MarcadorLocal" class="text-danger"></span>

                <label asp-for="MarcadorVisitante" class="control-label letra"></label>
                <input asp-for="MarcadorVisitante" class="form-control" />
                <span asp-validation-for="MarcadorVisitante" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:34%;">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Volver</a>
            </div>
        </form>
    </div>
</div>


