@{
    ViewData["Title"] = "Inscripcion";
}

<h2 class="mt-2" style="color:white; font-size:55px;">¡Felicidades!</h2>


<div class="card" style="width:400px; height:500px; margin-left:35%;">
    <img class="card-img-top" src="~/images/Inscripcion-Final.png" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">Inscripcion Finalizada</h4>
        <p class="card-text">
            Usted ya se encuentra inscrito en nuestra Academia Bellavista,
            Por favor visitar nuestra pagina constantemente para tener informacion de sus
            entrenamientos, partidos y todos los eventos. Gracias y buena suerte!
        </p>
        <a asp-action="Index" class="card-link btn btn-outline-primary" style="margin-left:135px;">Aceptar</a>
    </div>
</div>


@*<p style="font-size:25px; color:white; text-align:center;">
    Usted ya se encuentra inscrito en nuestra Academia Bellavista, 
    Por favor visitar nuestra pagina constantemente para tener informacion de sus 
    entrenamientos, partidos y todos los eventos. Gracias y buena suerte!
</p>*@


