@{
    ViewData["Title"] = "Inscripcion";
}

<h2 class="mt-2" style="color:white; font-size:55px;">Proceso de Inscripcion</h2>

<p style="font-size:25px; color:white; text-align:center;">
    Bienvenidos al Proceso de Inscripcion, Este proceso consta de dos ingresos, por cuestiones de 
    seguridad de esta plataforma manejamos dos formularios ya que nuestros estudiantes no superan los 
    17 años, por consiguiente son menores de edad, por esta razon primero solicitamos los datos mas reelevantes 
    de el acudiente de el estudiante, para en caso de emergencias tener un contacto a quien avisar cada novedad 
    sobre nuestro futuro jugador, si usted acepta los terminos y condiciones para inscribir a dicho nuevo estudiante haga click 
    en el boton continuar.
</p>


