@{
    ViewData["Title"] = "Home Page";
}
@*<style>
        .container {
            margin-top: 100px;
        }
        .wave{
            position: absolute;
            width: 100%;
            bottom: 0%;
            left: 0;
        }
    </style>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="subtitulo text-center mt-5  mb-5 ">
                    <h1>ACADEMIA DE FUTBOL BELLAVISTA</h1>
                    <h2>Fé, confianza y polvillo de hada</h2>
                    @*<h3>LUIS ALBERTO TRIANA SANDOVAL</h3>
                    <a class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
                    <a class="btn btn-outline-dark btn-lg" asp-page="/Account/Register" asp-area="Identity">Registrarse</a>
                </div>
            </div>
        </div>

        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.67,91.28 C149.99,150.00 312.36,14.30 500.84,74.50 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ffff;"></path></svg></div>


    </div>*@

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/business-casual.min.css" rel="stylesheet">

</head>

<body>




    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/images/JPtaD5.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Publicado hoy</span>
                        <span class="section-heading-lower">Inscripciones abiertas</span>
                    </h2>
                    <p class="mb-3">
                        Hoy inician nuestras inscripciones! te esperamos para
                        que te unas a nuestra prestigiosa Academia Bellavista,
                        las inscripciones se puede hacer de dos maneras.
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modelId">¡Ver Informacion!</a>
                    </div>

                    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Proceso de Inscripcion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bienvenidos al Proceso de Inscripcion, Este proceso consta de dos ingresos, por cuestiones de
                                    seguridad de esta plataforma manejamos dos formularios ya que nuestros estudiantes no superan los
                                    17 años, por consiguiente son menores de edad, por esta razon primero solicitamos los datos mas reelevantes
                                    de el acudiente de el estudiante, para en caso de emergencias tener un contacto a quien avisar cada novedad
                                    sobre nuestro futuro jugador, si usted acepta los terminos y condiciones para inscribir a dicho nuevo estudiante haga click
                                    en el boton continuar.
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary btn-xl" asp-controller="Acudientes" asp-action="Create">Continuar</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Es el Momento</span>
                            <span class="section-heading-lower">Para Ti</span>
                        </h2>
                        <p class="mb-0">
                            Comienza la nueva temporada para todas nuestras
                            categorias, preparate para este nuevo reto.
                        </p>
                        <div class="intro-button mx-auto">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/images/JPtaD5.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Publicado hoy</span>
                        <span class="section-heading-lower">Seccion Comentarios</span>
                    </h2>
                    <p class="mb-3">
                        Si tienes alguna duda, sugerencia o algo que aportarnos
                        por favor haz click aqui y envianos tu aporte.
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modelId2">Enviar Sugerencia</a>
                    </div>
                    <div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Envia tu Sugerencia:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input style="width:450px; height:100px;" />
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modelId3">Enviar</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modelId3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Envio de Sugerencia:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Gracias por tu colaboracion comenzaremos ahora mismo a trabajar en tu sugerencia.</p>
                                </div>
                                <div class="modal-footer">
                                   
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0">
                            When you walk into our shop to start your day,
                            we are dedicated to providing you with friendly service
                        </p>
                        <div class="intro-button mx-auto">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
</body>

</html>


