@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">JUGADORES DE 5 A 9 AÑOS</span>
                            <span class="section-heading-lower">CATEGORIA LEONES</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" height="700px" width="900px" src="~/images/leones.jpg" alt="">
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            Nos llenamos de orgullo al presentarte a nuestros jugadores de nuestra Masia, nuestros pequeños de
                            la categoria LEONES, ellos han sido campeones 3 veces del campeonato nacional "Esperanzas", ellos se caracterizan
                            por mostrarnos un juego limpio, lleno de compañerismo y carisma a la hora de estar en el terreno de juego.
                            <a class="btn btn-primary btn-xl" asp-controller="Estudiantes" asp-action="Leones">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex mr-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">JUGADORES DE 10 A 14 AÑOS</span>
                            <span class="section-heading-lower">CATEGORIA ZEBRAS</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" height="600px" width="900px" src="~/images/zebras.jpg" alt="">
                <div class="product-item-description d-flex ml-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            Es increible la manera de formarse en el futbol profesional, nosotros en nuestra Academia formamos jugadores
                            con valores y con tecnica a la hora de cada partido, esto se ve reflejado en la forma de jugar de nuestros muchachos de la
                            categoria ZEBRAS, quienes son los campeones de 8 campeonatos Regionales y 2 Nacionales.
                        </p>
                        <a class="btn btn-primary btn-xl" asp-controller="Estudiantes" asp-action="Zebras">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">JUGADORES DE 15 A 17 AÑOS</span>
                            <span class="section-heading-lower">CATEGORIA GLADIADORES</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" height="505px" width="900px" src="~/images/gladiadores.jpg" alt="">
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            Los jugadores de nuestra Categoria Gladiadores son los 3 veces campeones de la Copa Americana de Futbol, han
                            jugado en diferentes paises y mantienen un modo de juego excepcional para cada partido, son 23 jugadores que dan todo lo seguir
                            haciendo grande a esta Academia.
                        </p>
                        <a class="btn btn-primary btn-xl" asp-controller="Estudiantes" asp-action="Gladiadores">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

  


